trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*

variables:
  PYTHON: "Conda" # use Julia's packaged Conda build for installing packages
  CMDSTAN_VERSION: "2.23.0"
  CMDSTAN_DIR: "$(Agent.TempDirectory)/.cmdstan/"
  JULIA_CMDSTAN_HOME: "$(CMDSTAN_DIR)/cmdstan-$(CMDSTAN_VERSION)/" # required by CmdStan.jl
  ARVIZ_VERSION: release

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: Test_Releases # test released versions of ArviZ and Julia
  strategy:
    matrix:
      Julia_1_0:
        JULIA_VERSION: "1.0"
      Julia_1_3:
        JULIA_VERSION: "1.3"
      Julia_1_4:
        JULIA_VERSION: "1.4"
  steps:
  - template: .azure_pipelines/install_dependencies.yml
  - template: .azure_pipelines/run_tests.yml
- job: Test_Futures # test future versions of ArviZ and Julia
  strategy:
    matrix:
      Julia_1_4_ArviZ_master:
        JULIA_VERSION: "1.4"
        ARVIZ_VERSION: master
      Julia_nightly:
        JULIA_VERSION: "nightly"
  steps:
  - template: .azure_pipelines/install_dependencies.yml
  - template: .azure_pipelines/run_tests.yml
    parameters:
      allow_failures: true
- job: Documentation # build and deploy documentation if tests passed
  timeoutInMinutes: 0
  variables:
    JULIA_VERSION: "1.4"
    ARVIZ_VERSION: master
  steps:
  - template: .azure_pipelines/install_dependencies.yml
  - template: .azure_pipelines/build_docs.yml
