name = "ArviZ"
uuid = "131c737c-5715-5e2e-ad31-c244f01c1dc7"
authors = ["Seth Axen <seth.axen@gmail.com>"]
version = "0.5.21"

[deps]
Conda = "8f4d0f93-b110-5947-807f-2305c1781a2d"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
LogExpFunctions = "2ab3a3ac-af41-5b50-aa03-7779005ae688"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
PSIS = "ce719bf2-d5d0-4fb9-925d-10a81b42ad04"
PyCall = "438e738f-606a-5dbb-bf0a-cddfbfd45ab0"
PyPlot = "d330b81b-6aea-500a-939a-2ce795aea3ee"
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
Conda = "1.0"
DataFrames = "0.20, 0.21, 0.22, 1.0"
LogExpFunctions = "0.2.0, 0.3"
PSIS = "0.2, 0.3, 0.4, 0.5"
PyCall = "1.91.2"
PyPlot = "2.8.2"
Requires = "0.5.2, 1.0"
StatsBase = "0.32, 0.33"
julia = "1.6"
