name = "ArviZ"
uuid = "131c737c-5715-5e2e-ad31-c244f01c1dc7"
authors = ["Seth Axen <seth.axen@gmail.com>"]
version = "0.2.5-DEV"

[deps]
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
NamedTupleTools = "d9ec5142-1e00-5aa0-9d6a-321866360f50"
Pandas = "eadc2687-ae89-51f9-a5d9-86b5a6373a9c"
PyCall = "438e738f-606a-5dbb-bf0a-cddfbfd45ab0"
PyPlot = "d330b81b-6aea-500a-939a-2ce795aea3ee"
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
Soss = "8ce77f84-9b61-11e8-39ff-d17a774bf41c"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
CmdStan = "5.2.3, 6.0"
MCMCChains = "0.3.15, 0.4.2"
MonteCarloMeasurements = "0.7, 0.8"
NamedTupleTools = "0.11.0, 0.12"
Pandas = "1.3.0"
PyCall = "1.91.2"
PyPlot = "2.8.2"
Requires = "0.5.2, 1.0"
Soss = "0.10"
StatsBase = "0.32.0"
julia = "^1"

[extras]
CmdStan = "593b3428-ca2f-500c-ae53-031589ec8ddd"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
MonteCarloMeasurements = "0987c9cc-fe09-11e8-30f0-b96dd679fdca"
Soss = "8ce77f84-9b61-11e8-39ff-d17a774bf41c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["CmdStan", "MCMCChains", "MonteCarloMeasurements", "Random", "Test"]
