Manifest.toml

/.CondaPkg

/src/.quarto/
/src/_freeze/

/src/quickstart.md
/src/quickstart_files

/src/creating_custom_plots.md
/src/creating_custom_plots_files

src/*.log
src/assets/logo*.png
src/assets/favicon.ico
src/*.log

build
